.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 9rem;

  background-color: $brand-dark;
  color: $white;
}

.navbar__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;

  .brand-title {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 2.6rem;
  }
}
