.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
  overflow: hidden;
  outline: 0;

  background-color: rgba(255, 255, 255, 0.6);
  animation-duration: 0.25s;
  animation-name: backdrop-fadein;

  &--opened {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;

    .modal__content {
      opacity: 1;
    }
  }

  &--closing {
    background-color: rgba(255, 255, 255, 0);
    animation-duration: 0.25s;
    animation-name: backdrop-fadeout;

    .modal__content {
      animation-duration: 0.25s;
      animation-name: modal-fadeup;
    }
  }
}

.modal__content {
  position: relative;
  width: auto;
  max-height: calc(100% - 10rem);
  margin: 3rem;

  overflow: hidden;
  pointer-events: none;

  border-radius: 1rem;

  opacity: 0;

  @include shadow-default;

  @include media-breakpoint-up("sm") {
    max-width: 800px;
    margin: 5rem auto;
  }

  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: $bg-color;

  outline: 0;

  animation-duration: 0.5s;
  animation-name: modal-fadedown;

  .modal__header {
    background-color: $brand-dark;
    color: $white;
    padding: 1rem;
    text-align: center;
    & h1 {
      font-size: 1.8rem;
    }
  }

  .modal__body {
    position: relative;
    overflow: hidden;

    .ps__rail-x,
    .ps__rail-y {
      opacity: 1 !important;
    }
  }

  .modal__footer {
    padding: 2rem 3rem;
    @include media-breakpoint-up("md") {
      padding: 2rem 8rem;
    }

    .btn {
      margin: 0;
      width: 100%;
    }
  }
}
