@keyframes backdrop-fadein {
  from {
    background-color: rgba(255, 255, 255, 0);
  }

  to {
    background-color: rgba(255, 255, 255, 0.6);
  }
}
@keyframes backdrop-fadeout {
  from {
    background-color: rgba(255, 255, 255, 0.6);
  }

  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes modal-fadedown {
  from {
    transform: translateY(-2rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes modal-fadeup {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes btn-slideup {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-0.2rem);
  }
}
