@mixin shadow-default {
  -webkit-box-shadow: 0px 5px 20px 5px rgba(65, 65, 65, 0.15);
  -moz-box-shadow: 0px 5px 20px 0px rgba(65, 65, 65, 0.15);
  box-shadow: 0px 5px 20px 0px rgba(65, 65, 65, 0.15);
}

@mixin shadow-high {
  -webkit-box-shadow: 0px 15px 20px 0px rgba(65, 65, 65, 0.1);
  -moz-box-shadow: 0px 15px 20px 0px rgba(65, 65, 65, 0.1);
  box-shadow: 0px 15px 20px 0px rgba(65, 65, 65, 0.1);
}

@mixin btn-shadow-default {
  -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.1);
}

@mixin btn-shadow-high {
  -webkit-box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 6px 15px 5px rgba(0, 0, 0, 0.12);
}
