$cubic-curve: cubic-bezier(0.17, 0.67, 0.83, 0.67);

$transition-base: all 0.2s $cubic-curve;
$transition-border: border 0.2s $cubic-curve;
$transition-opacity: opacity 0.2s $cubic-curve;
$transition-background: background-color 0.2s $cubic-curve;
$transition-color: color 0.2s $cubic-curve;
