//== Colors
$grey-dark: #2b2d42;
$grey: #8d99ae;
$grey-light: #edf2f4;

$brand-dark: #7f1028;
$brand-light: #ad646d;

$white: #ffffff;

$default-border-color: $grey;

//== UI

// Topbar
$topbar-bg: $brand-dark;

// Buttons

// Backgrounds
$bg-color: #ffffff;
$bg-color-secondary: #fafafa;

// Breakpoints
$sm: 767px;
$md: 992px;
$lg: 1200px;
$breakpoints: (
  "sm": (
    min-width: $sm,
  ),
  "md": (
    min-width: $md,
  ),
  "lg": (
    min-width: $lg,
  ),
) !default;
