@font-face {
  font-family: "HelveticaRA";
  src: url("../fonts/Helvetica.woff2") format("woff2"), url("../fonts/Helvetica.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
