html {
  font-size: $font-base-size;
  font-family: $font-family-base;
}

body {
  color: $font-base-color;
}

.header {
}

.main {
  padding-bottom: 8rem;
}

.container {
  max-width: $lg;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;
}
