//== Typography
@import "_fonts";

$font-family-base: "HelveticaRD", "Arial", sans-serif;
$font-base-size: 10px;
$font-base-color: $grey-dark;

h1 {
  font-size: 2.6rem;

  @include media-breakpoint-up("sm") {
    font-size: 3rem;
  }
  @include media-breakpoint-up("md") {
    font-size: 3.2rem;
  }
  @include media-breakpoint-up("lg") {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 1.8rem;

  @include media-breakpoint-up("sm") {
    font-size: 2rem;
  }
  @include media-breakpoint-up("md") {
    font-size: 2.2rem;
  }
  @include media-breakpoint-up("lg") {
    font-size: 2.4rem;
  }
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.9rem;
}

h5 {
  font-size: 1.6rem;
}

p,
span {
  font-size: 1.4rem;
}
