.btn {
  display: block;
  position: relative;

  @include vertical-gradient(lighten($grey-dark, 40%), $grey-dark);

  // CSS Trick to fake a transition on gradient
  // https://medium.com/@dave_lunny/animating-css-gradients-using-only-css-d2fd7671e759
  background-size: 100%;
  z-index: 100;
  &:before {
    background-color: $grey-dark;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity 0.25s;
    border-radius: 10rem;
  }

  color: $white;

  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;

  outline: none;
  border: none;

  cursor: pointer;

  padding: 1.8rem 4.5rem;
  margin: 1.5rem 0;

  border-radius: 10rem;

  transition: background 0.25s ease-in, transform 0.15s ease-in, box-shadow 0.25s ease-in;

  @include btn-shadow-default;

  &:hover,
  &:focus {
    transform: translateY(-0.2rem);
    animation-duration: 0.5s;
    animation-name: btn-slideup;

    @include btn-shadow-high;
    &:before {
      opacity: 1;
    }
  }

  &--primary {
    @include vertical-gradient($brand-light, $brand-dark);

    &:before {
      background-color: $brand-dark;
    }
  }

  @include media-breakpoint-up("md") {
    display: inline-block;
    margin: 1.5rem 1rem;
  }
}
