.faq {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media-breakpoint-up("md") {
    max-width: $lg;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0 auto;
  }
}

.faq__title {
  padding: 0 0 2rem;
}

.faq__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include media-breakpoint-up("md") {
    max-width: 800px;
  }
}

.faq__entry {
  width: 100%;

  border-top: 2px solid $grey;

  overflow: hidden;

  @include media-breakpoint-up("md") {
    border-left: 2px solid $grey;
    border-right: 2px solid $grey;

    &:first-child {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    &:last-child {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }

  &:last-child {
    border-bottom: 2px solid $grey;
  }

  font-size: 1.6rem;

  .faq__trigger {
    display: block;
    position: relative;

    border: none;
    background: none;
    outline: none;

    width: 100%;
    text-align: left;

    color: $font-base-color;
    text-decoration: none;

    cursor: pointer;
    transition: all 200ms ease-in-out;

    padding: 1.6rem 5rem 1.6rem 2rem;
    @include media-breakpoint-up("md") {
      padding: 2rem 5rem 2rem 2rem;
    }

    &::after {
      position: absolute;
      top: calc(50% - 5px);
      right: 2rem;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1rem 0.6rem 0 0.6rem;
      border-color: $grey transparent transparent transparent;

      transition: $transition-base;
    }

    // Accessibility focus
    &:focus,
    &:focus ~ .faq__content {
      background-color: lighten($grey-light, 4%);
    }
  }

  &.opened {
    .faq__trigger {
      font-weight: 600;
      &::after {
        transform: rotate(180deg);
        transform-origin: center center;
      }
    }

    .faq__content {
      padding: 0 2rem 2rem;
    }
  }
}

.faq__content {
  max-height: 0;
  overflow: hidden;

  padding: 0 2rem;
  transition: max-height 350ms ease-in-out, padding 350ms ease-in-out, background-color 200ms ease-in-out;

  p {
    margin: 0;
  }
}
