.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $grey-light;

  @include media-breakpoint-up("md") {
    height: 40rem;
  }
}

.hero__inner {
  @extend .container;

  padding-bottom: 5rem;
  z-index: 10;

  text-align: center;

  .hero__title {
    margin-bottom: 2rem;

    @include media-breakpoint-up("md") {
      margin-bottom: 5rem;
    }

    font-weight: 500;
    strong {
      font-weight: 700;
    }
  }
}

.hero__side-product {
  display: none;

  position: absolute;

  padding: 0 4rem;
  &-img {
    width: auto;
    height: 100%;
  }

  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }

  @include media-breakpoint-up("md") {
    display: block;
    height: 20rem;
  }
  @include media-breakpoint-up("lg") {
    height: 28rem;
  }
}

.hero__product {
  &-img {
    width: 100%;
    max-width: 350px;
    height: auto;

    padding: 0 2rem 2rem;
    box-sizing: border-box;
  }

  @include media-breakpoint-up("md") {
    display: none;
  }
}

.hero__actions {
  .btn {
    box-sizing: border-box;
    width: 100%;

    @include media-breakpoint-up("md") {
      width: auto;
    }
  }
}
