.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 450px;

  border-bottom: 1px solid $grey;

  &:last-child {
    border-bottom: none;
  }

  &__img {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 2rem 0;
  }

  &__name {
    margin: 0.5rem 0;
    padding: 0 4rem;

    text-align: center;
    color: $brand-dark;
    font-size: 2rem;
    font-weight: 600;
  }

  &__description {
    margin: 0.5rem 0;
    padding: 0 4rem;

    text-align: center;
  }

  &__price {
    margin: 1.2rem 0;
    padding: 0 4rem;

    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }
}
